* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

body {
    font-family: arial;
    font-size: 1em;
    min-height: 100vh;
}

.login-info {
    width: 100%;
    background-color: #2F54FF;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

span#userid {
    float: left;
}

span#nav-btn {
    float: right;
    position: relative;
    cursor: pointer;
}

.bar {
    position: absolute;
    right: 3px;
    -moz-transition: .5s all;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.bar:nth-child(1) {
    top: -6px;
}

.bar:nth-child(2) {
    top: 0;
}

.bar:nth-child(3) {
    top: 6px;
}

.notification-icon {
    position: absolute;
    top: -7px;
    font-size: 11px;
    right: 22px;
    border-radius: 50%;
    border: 1px solid;
    width: 15px;
    height: 15px;
    text-align: center;
    color: #fff;
    background-color: #FF8F35;
}

.notification-icon:empty {
    width: 0;
    height: 0;
    border: none;
}

.online {
    width: 250px;
    position: fixed;
    right: -260px;
    box-shadow: -3px 0px 14px 1px #ccc;
    -moz-transition: .5s all;
    -webkit-transition: .5s all;
    transition: .5s all;
    z-index: 1;
    background-color: #fff;
}

.online ul {
    list-style: none;
    margin: 0;
    overflow-y: auto;
    height: 100%;
}

.online ul li {
    padding: 17px 10px;
    border-bottom: 1px solid #EEEEEE;
    color: #12BFFF;
    cursor: pointer;
}

.online ul li:hover {
    background: #f1f1f1;
}

.online .icon-online {
    background: #44B449;
    display: inline-block;
    border-radius: 50%;
    padding: 3px;
    vertical-align: middle;
    margin-right: 5px;
}

.chat-box {
    width: 400px;
    float: right;
    position: fixed;
    box-shadow: -3px 0px 14px 1px #ccc;
}

.send-message {
    position: absolute;
    bottom: 0;
    width: 100%;
}

input#msg-box {
    width: 370px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #bbb;
    border-left: none;
    border-right: none;
    vertical-align: bottom;
    padding: 0 10px;
}

.send-image {
    width: 30px;
    height: 30px;
    background: url(../images/img-icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
    overflow: hidden;
}

#image {
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.chat-box ul {
    overflow-y: auto;
    list-style: none;
    clear: both;
    background: #eee;
}

.chat-box ul li {
    margin: 15px 0;
}

.chat-box .sent {
    text-align: right;
}

.bubble {
    position: relative;
    margin: 0 15px;
    padding: 4px;
    width: inherit;
    max-width: 351px;
    word-wrap: break-word;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(97, 97, 97, 0.56);
    -moz-box-shadow: 1px 1px 7px 0px rgba(97, 97, 97, 0.56);
    box-shadow: 1px 1px 7px 0px rgba(97, 97, 97, 0.56);
}

.sent .bubble {
    background: #E8FFFF;
}

.recieved .bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0 0;
    top: 0;
    left: -9px;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
}

.img-msg {
    width: 100%;
}

.sent .bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 12px 12px 0px;
    top: 0;
    right: -9px;
    border-color: #E8FFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.notification {
    display: inline-block;
    float: right;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 5px;
    background-color: #000;
    font-weight: bold;
    color: #fff;
}

.notification:empty {
    padding: 0;
}

.chat-head {
    float: left;
    box-shadow: 0 2px 10px 0px #ccc;
    width: 100%;
}

h1.title {
    float: left;
    max-width: 250px;
    overflow: hidden;
    height: 37px;
    padding: 0 10px;
    color: #2F54FF;
}

span#offline {
    float: left;
    padding: 9px 0px;
}

span#close-chat {
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 7px;
}


/*responsive styles*/

@media screen and (max-width: 768px) {
    .online {
        width: 100%;
        right: -101%;
    }
    .chat-box {
        width: 100%;
    }
    input#msg-box {
        width: 95%;
    }
    .send-image {
        width: 5%;
    }
}
